In [3]:
from re import A
dictl={
    "firstname":"somu",
    "lastname":"swain",
    "rollnumber":2,
    "class":4,
    "age":9,
    "section":A
}
print(dictl)
print(dictl.keys)
print(dictl.values)
print(list(dictl))
var1=list(dictl)
print(var1[2])
print(var1[1:4:1])
print(list({"firstname":"somu","lastname":"swain","rollnumber":2,"class":4,"age":9,"section":A})[1:4:1])

{'firstname': 'somu', 'lastname': 'swain', 'rollnumber': 2, 'class': 4, 'age': 9, 'section': re.ASCII}
<built-in method keys of dict object at 0x7f475f1da080>
<built-in method values of dict object at 0x7f475f1da080>
['firstname', 'lastname', 'rollnumber', 'class', 'age', 'section']
rollnumber
['lastname', 'rollnumber', 'class']
['lastname', 'rollnumber', 'class']

In [ ]:
dictl={"firstname":"somu","lastname":"swain","rollnumber":2,"class":4,"age":9,"section":A}

In [7]:
from os import makedirs
marks=input("enter").split(",")
print(marks)
print(type(marks))

enter1,2,3,4
['1', '2', '3', '4']
<class 'list'>

In [15]:
# prompt: make example of list , tuple, set, dict in 4 lines with 4 characters

L=[1,2]
T=(3,4)
S={5,6}
D={'k':7}
L.append(3)
S.add(5)
D["k2"]=2
print(L,T,S,D)

[1, 2, 3] (3, 4) {5, 6} {'k': 7, 'k2': 2}

In [17]:
# prompt: make example of list , tuple, set, dict in 4 lines with 4 characters

L=[7,8]
T=(3,4)
S={5,6}
D={'k':7}
L.extend([3,4])
S.update({2,7})
D.update({"k2":2,"k3":4})
print(L,T,S,D)

[7, 8, 3, 4] (3, 4) {2, 5, 6, 7} {'k': 7, 'k2': 2, 'k3': 4}

In [23]:
# prompt: make example of list , tuple, set, dict in 4 lines with 4 characters

L=[1,2]
T=(3,4)
S={5,6}
D={'k':7}
L.insert(3,4)
print(L)
L.insert(100,50)
print(L)
L.insert(1,75)
print(L)

[1, 2, 4]
[1, 2, 4, 50]
[1, 75, 2, 4, 50]

In [32]:
# prompt: make example of list , tuple, set, dict in 4 lines with 4 characters

L=[1,2]
T=(3,4)
S={5,6}
D={'k':7,"k2":3}
L.remove(2)
print(L)
S.remove(5)
print(S)
D.popitem()
print(D)
D.clear()
print(D)
L.clear()
print(L)
S.clear()
print(S)

[1]
{6}
{'k': 7}
{}
[]
set()